/* override the default bright red color */
div.floating-label.desktop.ng-star-inserted,
div.floating-label.lt-desktop.ng-star-inserted {
	background-color: #cac7a7;
}

div.bt-card.ng-tns-c225-7{
position:relative;
bottom: 7.3rem;
width: 300px;
}